@model SemesterProjekt3Api.Model.Seat

@{
    ViewData["Title"] = "Seats";
}

<h1>Seats</h1>

<div>
    <br>
    <div class="row">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>
    


</div>