@model SemesterProjekt3Api.Model.Booking

@{
    ViewData["Title"] = "Kvittering";
}

<h1 class="text-center">Din booking er nu gennemført!</h1>
<h2 class="text-center">Vi ses snart...</h2>
<br>
<h3>Din kvittering:</h3>
<dl>
    <dt>Film titel: Shrek 2</dt>
    <dt>Længde: 1t 59m</dt>
</dl>
   <br>
<dl>
    <dt style="font-size:22px">Brugeroplysninger:</dt>
    <dt>Navn: Oskar Brandt</dt>
    <dt>Telefon nummer: 112</dt>
</dl>