@model SemesterProjekt3Api.Model.Booking

@{
    ViewData["Title"] = "Kvittering";
}

<h1 class="text-center">Din booking er nu gennemført!</h1>
<h2 class="text-center">Vi ses snart...</h2>
<br>
<h3>Din kvittering:</h3>
<dl>
    <dt style ="font-size:22px">Bookingoplysninger:</dt>
    <dt>Film titel: Shrek 2</dt>
    <dt>Længde: 1t 59m</dt>
</dl>
<dl>
    <dt>Sal: 05</dt>
    <dt>Række: 2</dt>
    <dt>Sæde: 5, 6</dt>
    <dt>Dato og tidspunkt: 12/05/2023, kl. 15:30</dt>
</dl>
<br>
<dl>
    <dt>Booking id: 3</dt>
    <dt>Transaktionsdato: 5/05/2023, kl. 13:32</dt>
</dl>
<dl>
    <dt style="font-size:22px">Brugeroplysninger:</dt>
    <dt>Navn: Oskar Brandt</dt>
    <dt>E-mail: oskarbrandt@yahooo.dk</dt>
    <dt>Telefon nummer: 112</dt>
</dl>