@using SemesterProjekt3Api.Model;
@model SemesterProjekt3Api.Model.MovieInfo

@{
    ViewData["Title"] = "Forside";
}

<h1>Velkommen til Vestbjerg Bio!</h1>
<p style="font-size:22px">Vælg en af vores film for at se dens forestillinger</p>



    <div>
    <br>
                <dl class="row">
        <div class="col text-center">
            <dd>
                <a href="https://viaplay.dk/film/shrek-2-2004" title="Shrek 2"><img src="https://resizing.flixster.com/dAiS2r0bFgqZ7eBWCH_0NuEb0_4=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzY0MjE3ZDU3LWFkNzUtNDAxNC04N2I3LWExNWQzNzFlOWEzNC53ZWJw" width="420" height="630" class="img-responsive"></a>
            </dd>
            <dd>
                <a href="https://viaplay.dk/film/shrek-2-2004" title="Shrek 2"><button class="btn btn-lg col-7 button-color text-white" type="submit" style="height:70px;font-size:25px">Check forestillinger</button></a>
            </dd>
        </div>
        <div class="col" style="font-size:30px;padding-top:12em">

            <div class="round-corners1" style="background-color:#313740;" >
                <dt>Titel: Shrek 2</dt>
                <dt>Længde: 1 t 59 m</dt>
                <dt>Genre: Eventyr/familiefilm</dt>
                <dt>Aldersgrænse: Fra 7 år</dt>
                <dt>Udgivelsesdato: 12/04/2001</dt>
              </div>
            
            </div> 
            </dl>
    <hr class="hr" style="border:2px solid grey" />
    </div>







    