html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.button-color {
    background: #C73E35
}

.panel-color {
    background: rgba(57, 68, 90, 0.95)
}

.round-corners1 {
    border-radius: 25px;
    padding: 20px;
    
}
